body{
    background-color: #F0FFF0;
    color:#010B13;
    font-family: sans-serif;
}

nav a{
    color:#317873;
    font-weight: bold;
    text-decoration: none;
    margin: 0 15px;

}

section p a{
    color: #086375;
    font-weight: bold;
}
button {
    background-color: #086375;
    color: #F0FFF0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover{
    background-color: #a5e6ba;
    color:#086375;
    font-weight: bold;
}

footer{
    background-color: #086375;
    color: #F0FFF0;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
section img{
    border-radius: 3%;
}